@font-face {
  font-family: 'Circe-Bold';
  src: url('../fonts/Circe-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Light';
  src: url('../fonts/Circe-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('../fonts/DINPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


