.requests {
  padding-bottom: 106px;
  border-bottom: 2px solid #f2f2f2;
  h2 {
    margin-bottom: 30px;
    font-size: 2.333rem;
    @media (min-width: 810px) {
      font-size: 3.3333rem;
      margin-bottom: 52px;
    }
  }

  &_nav-tabs {
    padding: 0;
    margin-bottom: 18px;
    li {
      display: inline-block;
      margin-right: 21px;
      margin-bottom: 17px;
    }
  }

  &__tab-nav {
    color: $accent-color;
    font-size: 1.1666rem;
    border-bottom: 1px dotted $accent-color;
    cursor: pointer;
  }

  &__tab-nav--active {
    border-bottom: none;
    padding: 7px;
    background-color: #ffe6de;
    border-radius: 3px;
  }

  &__table-wrap {
    overflow-x: auto;
    @media (min-width: 945px) {

    }
  }

  &__table-string {
    //min-width: 1520px;
  }

  &__table-string:hover {
    background-color: rgba(253, 85, 32, .1);
  }

  &__table-string-wrap {
    width: 1100px;
    display: flex;
    margin-left: 5%;
    @media (min-width: 1125px) {
      width: 1000px;
    }
    @media (min-width: 1320px) {
      width: 1187px;
    }
    @media (min-width: 1520px) {
      width: 1361px;
    }
  }

  &__table-border {
    border-bottom: 1px solid;
  }

  &__table-string p {
    font-size: 12px;
    min-width: 128px;
    max-width: 200px;
    margin-right: 10px;
    @media (min-width: 945px) {
      min-width: 98px;
    }
    @media (min-width: 1125px) {
      min-width: 120px;
    }
    @media (min-width: 1320px) {
      min-width: 140px;
    }
    @media (min-width: 1520px) {
      min-width: 165px;
    }
  }

  &__pagination {
    padding-top: 16px;
    ul {
      padding: 0;
      li {
        display: inline-block;
        font-size: 1.5rem;
        margin-right: 17px;
      }
    }
  }

  &__pagination-item {
    color: $accent-color;
  }

  &__pagination-item--active {
    color: black;
  }

  &__dots {
    position: relative;
    span {
      position: absolute;
      top: -22px;
      left: -6px;
    }
  }

}