.requests {
  padding-bottom: 106px;
  border-bottom: 2px solid #f2f2f2;
  h2 {
    margin-bottom: 30px;
    font-size: 2.333rem;
    @media (min-width: 810px) {
      font-size: 3.3333rem;
      margin-bottom: 52px;
    }
  }

  &_nav-tabs {
    padding: 0;
    margin-bottom: 18px;
    li {
      display: inline-block;
      margin-right: 21px;
      margin-bottom: 17px;
    }
  }

  &__tab-nav {
    color: $accent-color;
    font-size: 1.1666rem;
    border-bottom: 1px dotted $accent-color;
    cursor: pointer;
  }

  &__tab-nav--active {
    border-bottom: none;
    padding: 7px;
    background-color: #ffe6de;
    border-radius: 3px;
  }

  &__table-container {
    overflow-x: auto;
    @media (min-width: 810px) {

    }
  }

  &__table-wrap {
    display: none;
    width: 100%;
    border-collapse: collapse;
    td {
      max-width: 284px;
      @media (min-width: 945px) {
        max-width: 160px;
      }
    }
  }

  &__active {
    display: block;
  }

  &__item {
    padding: 10px 10px 10px 0;
    vertical-align: top;
  }

  &__td-first {
    width: 5%;
    padding-left: 10px;
    @media (min-width: 700px) {
      padding: 10px 10px 10px 0;
    }
    @media (min-width: 945px) {
      width: 7%;
    }
  }

  &__td-last {
    width: 3%;
    @media (min-width: 1400px) {
      width: 15%;
    }
    @media (min-width: 1600px) {
      width: 20%;
    }
    @media (min-width: 1700px) {
      width: 30%;
    }
  }

  &__table-string:hover {
    background-color: rgba(253, 85, 32, .1);
  }

  &__table-border {
    border-bottom: 1px solid #cecece;
  }

  &__table-string:first-child:hover {
    background-color: white;
  }


  &__pagination {
    padding-top: 16px;
    ul {
      padding: 0;
      li {
        display: inline-block;
        font-size: 1.5rem;
        margin-right: 8px;
        @media (min-width: 810px) {
          margin-right: 17px;
        }
      }
    }
  }

  &__pagination-item {
    color: $accent-color;
  }

  &__pagination-item:hover {
    color: black;
  }

  &__pagination-item--active {
    color: black;
  }

  &__dots {
    position: relative;
    span {
      position: absolute;
      top: -22px;
      left: -6px;
    }
  }

}